################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/bin
/api/obj/Debug
/api.Tests/bin/Debug
/api.Tests/obj/Debug
/packages
/.vs/api
